.layout {
    display: flex;
    height: 100%;
    gap: 30px;
    padding: 30px;
}

.price {
    font-size: 34px;
}

.links-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
    
    a {
        text-decoration: none;
    }
}