@import '../../../styles/palettes';
.navBar {
  display: flex;
  padding: 11px;
  align-items: center;
  justify-content: space-evenly;
  background-color: map-get($primary, 500);
}

.brand {
  width: 100px;
  height: auto;
}

.navLink {
  font-size: 22px;
  text-decoration: none;
  font-weight: bolder;
  color: map-get($secondary, 500);
}