$primary: (
  100: #f6efe5,
  200: #f1e5d3,
  500: #e2cba7,
  700: #dabe96,
  contrast: (
    100: #000000,
    200: #000000,
    500: #000000,
    700: #000000,
  ),
);

$secondary: (
  100: #c2bdb3,
  200: #999181,
  500: #322203,
  700: #261902,
  contrast: (
    100: #000000,
    200: #000000,
    500: #ffffff,
    700: #ffffff,
  ),
);

$warn: (
  100: #ebbdbc,
  200: #dd9290,
  500: #bb2421,
  700: #ac1b18,
  contrast: (
    100: #000000,
    200: #000000,
    500: #ffffff,
    700: #ffffff,
  ),
);

$surface: (
  100: #f9f9f9,
  200: #f5f5f5,
  500: #ebebeb,
  700: #e5e5e5,
  contrast: (
    100: #000000,
    200: #000000,
    500: #000000,
    700: #000000,
  ),
);
