@import '../../../styles/palettes';

.plant-background {
  background-image: url('../../../assets/images/fondoBijou.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.title-container {
  position: relative;
  input {
    width: 100%;
    border: 1px solid map-get($secondary, 500);
    border-radius: 15px;
  }
  h1, form {
    z-index: 30;
  }
}

.title-container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: map-get($surface, 500);
  opacity: .2;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

#categories-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-list {
  list-style-type: none;
  
}