<div class="plant-background">
  <section class="header-container">
    <div class="title-container flex flex-col items-center sm:justify-center md:w-max h-4/6 sm:h-5/6 gap-8 px-20">
      <h1 class="text-6xl sm:text-center pt-40 sm:pt-20">Bijouteri acero inoxidable</h1>
      <input class="h-14 md:h-16 p-2 mb-8 sm:mb-0" type="search" placeholder="Escribe un nombre" />
    </div>
  </section>
  <section id="categories-section" class=" w-full flex justify-center items-center p-9">
    <ul class="categories-list m-auto w-max flex items-center justify-center lg:justify-start flex-1 flex-wrap gap-3">
      <li *ngFor="let category of categories">
        <a [routerLink]="['/productos/' + category.name.toLocaleLowerCase()]">
          <category-card [data]="category" />
        </a>
      </li>
    </ul>
  </section>
</div>
<contact />