<div class="plant-background">
  <section class="h-[92vh] flex items-end md:justify-center">
    <div class="title-container w-full flex flex-col justify-end items-center sm:justify-center md:w-max h-4/6 sm:h-5/6 gap-8 px-20">
      <h1 class="text-6xl sm:text-center">Bijouterie acero inoxidable</h1>
      <form (submit)="submit($event)" class="w-full">
        <input [(ngModel)]="search" name="search" class="h-14 md:h-16 p-2 mb-8 sm:mb-0" type="search" placeholder="Escribe un nombre" />
      </form>
    </div>
  </section>
  <section id="categoriesSection" class=" w-full flex justify-center items-center p-9">
    <ul class="categories-list m-auto w-max flex justify-center flex-1 flex-wrap gap-3">
      <li *ngFor="let category of categories">
        <a [routerLink]="['/productos/' + category.name.toLocaleLowerCase()]">
          <category-card [data]="category" />
        </a>
      </li>
    </ul>
  </section>
</div>
<contact />