<form [formGroup]="productForm" (ngSubmit)="sendForm()">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <div>
    <label>Fotos</label>
    <ul>
      <li *ngFor="let image of data.pictures">
        <img src="{{image}}" />
      </li>
    </ul>
    <div class="fileInput">
      <input type="file" multiple formControlName="pictures" />
    </div>
  </div>
  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input matInput type="number" formControlName="price" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripcion</mat-label>
    <textarea matInput formControlName="description" ></textarea>
  </mat-form-field>
  <button mat-raised-button color="accent" >Actualizar</button>
  <button type="button" mat-raised-button (click)="close()">Cancelar</button>
</form>